extends layout

block content
    h1=title

    div 
        table.table.table-hover
            tr
                th Building ID
                th Building's Production (All Machines)
            each production in productions
                tr
                    td=production.bid
                    td=production.building_prod