extends layout

block content
  h1= title
  p Welcome to #[em Spinning Mill Production Report ].


//-   if error
//-     p Error getting dynamic content.
//-   else
//-     p The library has the following record counts:
