extends layout

block content
    h1= title
    p Welcome to #[em Spinning Mill Production Report ].
    br
    br
    .container
        form(method="get" action="/production/reports/last_3_days")
            button(type="submit") Last 3 Days Report

        form(method="get" action="/production/reports/last_week")
            button(type="submit") Yesterday's Report

        style(type="text/css").
            button{
                background-color:yellow;
                height:50px;
                width:100px;
                margin-left:10px;
                margin-right:10px;
            }

            button:hover{background-color:orange;}

            button:focus{background-color:red;}

            .container {
                display: flex;
                justify-content: stretch;
            }
    br
    br
    .div
        form(method="get" action="/production/reports" style="display:block;")
            fieldset
                legend Enter Custom Date For Report:
                label(for='startDate') Start Date: 
                input#name(type='date', name='startDate', required='')
                br
                label(for='endDate') End Date: 
                input#quantity(type='date', name='endDate', required='')
                br
                br
                input(type='submit', value='Fetch Report' )
